{
  "extends": ["eslint:recommended", "plugin:react/recommended", "plugin:flowtype/recommended"],
  "plugins": ["babel", "react", "flowtype"],
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "rules": {
    "semi": [2, "never"],
    "comma-dangle": [2, {
      "arrays": "only-multiline",
      "objects": "only-multiline",
      "imports": "never",
      "exports": "never",
      "functions": "never"
    }]
  }
}
