.checkable-list-item
  list-style none
  transform translateX(-1em)
  &__body
    position relative
    z-index 1
  &__checkbox
    position absolute
    z-index 1
    cursor: default
  &__text
    padding-left 1.5em
